<?xml version="1.0" encoding="iso-8859-1" ?>
<menu>
  <item>
    <path>civicrm/paytrail/settings</path>
    <title>Paytrail Settings</title>
    <page_callback>CRM_Paytrail_Page_Admin</page_callback>
    <access_arguments>administer CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/paytrail/settings/ajax/getInitData</path>
    <page_callback>CRM_Paytrail_Page_AdminAjax::getInitData</page_callback>
    <access_arguments>administer CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/paytrail/settings/ajax/getConfig</path>
    <page_callback>CRM_Paytrail_Page_AdminAjax::getConfig</page_callback>
    <access_arguments>administer CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/paytrail/settings/ajax/saveConfigRow</path>
    <page_callback>CRM_Paytrail_Page_AdminAjax::saveConfigRow</page_callback>
    <access_arguments>administer CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/paytrail/settings/ajax/deleteConfigRow</path>
    <page_callback>CRM_Paytrail_Page_AdminAjax::deleteConfigRow</page_callback>
    <access_arguments>administer CiviCRM</access_arguments>
  </item>
</menu>